@model IEnumerable<Chowlog.Entities.Plate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<style>
    .thumbnail {
        position: relative;
        overflow: hidden;
    }

    .caption {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(66, 139, 202, 0.75);
        width: 100%;
        height: 100%;
        padding: 2%;
        display: none;
        text-align: center;
        color: #fff !important;
        z-index: 2;
    }

</style>

@{
    var query = from plate in Model
                group plate by plate.TimeEaten.ToString("MM/dd/yyyy") into grouping
                orderby grouping.Key descending
                select grouping;
}



<div class="row">
    @foreach (var grouping in query)
    {
        <div style="margin-bottom: 2px;">
            <div style="background-color: Black; color: White; font-size: 1.2em; font-weight: bold; padding: 2px 0px 2px 10px; margin: 5px 0px 5px 0px; clear: both;">
                @grouping.Key
            </div>
            <div class="row">

                @foreach (var plate in grouping.OrderBy(p => p.TimeEaten))
                {
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="caption">
                                @if (@plate.Title != null)
                                { 
                                    <h4>@plate.Title</h4>
                                }
                                <p>@plate.TimeEaten</p>
                                <p>
                                    @Html.ActionLink("Edit", "Edit", new { id = plate.Id }, new { @class = "label label-default", rel = "tooltip", title = "Edit" })
                                    @Html.ActionLink("Delete", "Delete", new { id = plate.Id }, new { @class = "label label-danger", rel = "tooltip", title = "Delete" })

                                </p>
                            </div>
                            
                            <img src="@(System.Configuration.ConfigurationManager.AppSettings["PlateImagePrefix"] + "/" + plate.Id + plate.Extension + "?w=190&h=190&mode=crop")" />

                        </div>
                    </div>



                }
            </div>



        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("[rel='tooltip']").tooltip();

        $('.thumbnail').hover(
            function () {
                $(this).find('.caption').fadeIn(150)
            },
            function () {
                $(this).find('.caption').fadeOut(105)
            }
        );
    });
</script>