@model IEnumerable<Chowlog.Entities.Plate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@{
    var query = from plate in Model
                group plate by plate.TimeEaten.ToString("MM/dd/yyyy") into grouping
                orderby grouping.Key descending
                select grouping;
}



<div class="row">
    @foreach (var grouping in query)
    {
        <div style="margin-bottom: 2px;">
            <div style="background-color: Black; color: White; font-size: 1.2em; font-weight: bold; padding: 2px 0px 2px 10px; margin: 5px 0px 5px 0px; clear: both;">
                @grouping.Key
            </div>

            <ul style="padding-left:0px;">
                @foreach (var plate in grouping.OrderBy(p => p.TimeEaten))
                {
                    <li style="display: inline;list-style:none;">

                        @*@Html.ActionLink("Edit", "Edit", new { id = plate.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = plate.Id })*@
                        @plate.Title, @plate.TimeEaten
                        <img src="@("/uploads/" + plate.Id + plate.Extension + "?w=200&h=200&mode=crop")" />
                        
                    </li>

                }
            </ul>



        </div>
    }
</div>